<p id="notice"><%= notice %></p>

<h1><%= @cocktail.name %></h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Ingredient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doses.each do |dose| %>
      <tr>
        <td><%= dose.description %></td>
        <td><%= dose.ingredient.name %></td>
        <td><%= link_to 'Show', cocktail_dose_path(@cocktail, dose) %></td>
        <td><%= link_to 'Edit', edit_cocktail_dose_path(@cocktail, dose) %></td>
        <td><%= link_to 'Delete', cocktail_dose_path(@cocktail, dose), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', cocktails_path %>
<%= link_to 'New Dose',  new_cocktail_dose_path(@cocktail) %>


