<p id="notice"><%= notice %></p>

<div class = "container">

  <div class = "row padded">

      <div class="col-xs-12 col-sm-2 col-sm-offset-2 bigEntrance">
        <%= image_tag @cocktail.picture.url(:thumb), {class: "img-circle center-block cocktail-img-border"} %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h1 class="text-center pullUp"><%= @cocktail.name %>
          <small class = "">
            <%= link_to '<i class="fa fa-pencil pulse"></i>'.html_safe, edit_cocktail_path(@cocktail) %>
          </small></h1>
      </div>

  </div>


  <% @doses.each do |dose| %>
    <div class="row padded">
      <div class="col-xs-9 col-sm-6 col-sm-offset-2 pullUp">
        <%= dose.description %>
        <%= dose.ingredient.name %>
      </div>
      <div class="col-xs-3 col-sm-2 align-right">
        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_cocktail_dose_path(@cocktail, dose) %> &nbsp;
        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, cocktail_dose_path(@cocktail, dose), method: :delete %>
      </div>
    </div>
  <% end %>

  <br>

  <div class = "button_width col-sm-offset-2">
  <%= link_to 'Back', cocktails_path, {class: "btn btn-primary btn-sm btn-block pullUp "} %>
  <!-- btn-block spans the width of parent button_width -->
  </div>

    <br>


  <div class="row padded">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 pullUp">
      <h4 class = "text-muted">Add new ingredient</h4>
      <%= render 'form' %>
    </div>
  </div>
</div>

